*~
*.*~
*.aux
*.bbl
*.blg
*.log
*.toc
lcpc2012.pdf
proj-report.pdf
scaling-operations.ai
hist-comm.ai
*.dvi

.Rhistory
.RData

.cache
.classpath
.project
.settings

target
.DS_Store
project/boot
project/target
reports/*/auto
